.github/*.png filter=lfs diff=lfs merge=lfs -text
.github/*.jpg filter=lfs diff=lfs merge=lfs -text
frontend/**/*.gif filter=lfs diff=lfs merge=lfs -text
frontend/**/*.blend filter=lfs diff=lfs merge=lfs -text
frontend/**/*.png filter=lfs diff=lfs merge=lfs -text
frontend/**/*.woff filter=lfs diff=lfs merge=lfs -text
frontend/**/*.woff2 filter=lfs diff=lfs merge=lfs -text
.github/*.mp4 filter=lfs diff=lfs merge=lfs -text
segmenter/best.onnx filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
android/gradle/wrapper/gradle-wrapper.jar filter=lfs diff=lfs merge=lfs -text
gradle/wrapper/gradle-wrapper.jar filter=lfs diff=lfs merge=lfs -text
