@tailwind base;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "CalSans";
  src:
    url("calsans-semibold.woff2") format("woff2"),
    url("calsans-semibold.woff") format("woff");
  font-weight: bolder;
  font-style: normal;
}

.text-stroke-black {
  -webkit-text-stroke: 2px black;
}

.text-stroke-none {
  -webkit-text-stroke: 0;
}
